.Cell {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #B0BEC5;
    height: 46px;
    cursor: pointer;
    margin: 0.5px;
    background-color: black;
    font-size: 30px;
}

/* When cell is revealed */
.Revealed {
    background-color:white;
}

/* Styling for easy level */
.Easy {
    width: 46px;
    height: 46px;
    font-size: 30px;
}

/* Styling for medium level */
.Medium {
    width: 34px;
    height: 34px;
    font-size: 24px;
}

/* Styling for hard level */
.Hard {
    width: 26px;
    height: 26px;
    font-size: 16px;
}