.Cell {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #B0BEC5;
    height: 46px;
    cursor: pointer;
    margin: 1px;
    background-color: black;
    font-size: 30px;
}

.Revealed {
    background-color:white;
}

.Easy {
    width: 46px;
    height: 46px;
    font-size: 30px;
}

.Medium {
    width: 34px;
    height: 34px;
    font-size: 20px;
}

.Hard {
    width: 26px;
    height: 26px;
    font-size: 16px;
}